.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee var(--marquee-duration) linear infinite;
}

.marquee-item {
    display: inline-block;
    margin-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.blink-button {
    animation: blinker-bg 3s linear infinite; /* Apply animation to background */
    color: black; /* Set text color to red */
}

@keyframes blinker-bg {
    50% {
        background-color: rgba(0, 123, 255, 0); /* Change background opacity */
        border-color: rgba(0, 123, 255, 0); /* Change border opacity */
    }
}

#rcount_wrapper .dataTables_filter input {
    width: 150px; /* Adjust as needed */
    font-size: 0.9em; /* Adjust as needed */
    padding: 0.2em 0.5em; /* Adjust as needed */
    margin-left: 0.5em; /* Adjust as needed */
}

/* Make it responsive */
@media (max-width: 767px) { /* For smaller screens */
    #rcount_wrapper .dataTables_filter input {
        width: 10%;
        max-width: 10px;
        margin-left: 0; /* Adjust margin for smaller layouts */
    }
}
